@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

a {
  cursor: url('./assets/cursor.png'), auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cardStyle {
  width: 18rem;
}